:root {
    --primary: #6200EE;
    --primary-variant: #3700B3;
    --bg: #FFF;
    --textColor: #121212;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box; 
}

body {
  font-family: "Lobster", Arial, Helvetica, sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #F9C164;
  }

  .calculator-screen {
    /* Scroll to the end */
    justify-content: flex-end;
    display: inline-flex;
    white-space: nowrap;
    overflow: hidden;
    align-items: center;

    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    color: #5E1C0D;
    text-align: right;
    font-family: "Lobster", Arial, Helvetica, sans-serif;
  }

  .calculator-screen-wrapper {
    width: 100%;
    height: 80px;
    padding-right: 20px;
    padding-left: 10px;
    background-color: #FED45C;
  }

  button {
    height: 60px;
    background-color: #F39744;
    border: none;
    border-radius: 8px;
    box-shadow: 8px 8px #DF8031 inset;
    font-size: 3rem;
    transition: 0.1s;
    color: #5E1C0D;
    font-family: "Lobster", Arial, Helvetica, sans-serif;
    cursor: pointer;
  }

  button:active {
    background-color: #F6AC54;
    box-shadow: 4px 4px #ECA14B inset;
  }

  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }

  .equal-sign {
    grid-area: 2/4/6/5;
    height: 100%;
  }